<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="www.TPP.com.party.persistence.PartyMapper">
	<resultMap type="www.TPP.com.party.model.Party" id="partyMap"
	extends="www.TPP.com.common.persistence.CommonMapper.commonMap">
		<id property="userId" column="user_id"></id>
		<result property="userPassword" column="user_pwd"></result>
		<result property="userName" column="user_name"></result>
		<result property="email" column="email"></result>
		<result property="birthDate" column="birth_dt"></result>
		<result property="sex" column="sex"></result>
		<result property="phoneNumber" column="phone_num"></result>
		<result property="address" column="address"></result>
		<result property="authority" column="authority"></result>
		<result property="enable" column="enable"></result>
	
		<discriminator javaType="String" column="authority">
			<case value="admin" resultMap="adminResultMap" />
			<case value="seller" resultMap="sellerResultMap" />
			<case value="customer" resultMap="customerResultMap" />
		</discriminator>
	</resultMap>

	<resultMap id="adminResultMap"
		type="www.TPP.com.party.model.Admin" extends="partyMap">
	</resultMap>
	<resultMap id="sellerResultMap"
		type="www.TPP.com.party.model.Seller" extends="partyMap">
		<id property="businessRegNum" column="business_reg_num"></id>
		<result property="businessName" column="business_name"></result>
		<result property="userId" column="user_id"></result>
	</resultMap>
	<resultMap id="customerResultMap"
		type="www.TPP.com.party.model.Customer" extends="partyMap">
	</resultMap>

	<!-- String getBusinessName(String postId); -->
	<select id="getBusinessName">
		SELECT business_name
		FROM f_seller_info
		WHERE user_id IN (SELECT seller_id
							FROM f_post
							WHERE post_id = #{postId})
	</select>

	<!-- int checkId(@Param("userId") String userId); -->
	<select id="checkId" resultType="_int">
		SELECT COUNT(*)
		FROM f_party
		WHERE user_id = #{userId}
	</select>

	<!-- boolean registParty(@Param("party") Party party); -->
	<insert id="registParty">
		INSERT INTO f_party(user_id, user_pwd, user_name, birth_dt, sex, phone_num, address, email)
		VALUES(#{party.userId}, #{party.userPassword}, #{party.userName}, #{party.birthDate},
			#{party.sex}, #{party.phoneNumber}, #{party.address}, #{party.email})
	</insert>

	<!-- ########################################로그인 영역################################################# -->

	<!-- public int updateLoginDate(String userId); -->
	<update id="updateLoginDate">
		UPDATE f_party SET upt_dt = sysdate
		WHERE user_id = #{userId}
	</update>

	<!-- public Party findPartyByUserId(String userId); -->
	<select id="findPartyByUserId" resultMap="partyMap">
	<![CDATA[
		SELECT user_id, user_pwd, user_name, authority
		  FROM f_party
		 WHERE user_id = #{userId}
	]]>
	</select>
	
	<!-- public List<Customer> getCustomerList(); -->
	<select id="getCustomerList" resultMap="customerResultMap">
		SELECT *
		FROM f_party
		WHERE authority = 'customer'
	</select>
	
	<!-- public List<Seller> getSellerList(); -->
	<select id="getSellerList" resultMap="sellerResultMap">
		SELECT *
		FROM f_party
		WHERE authority = 'seller'
	</select>
	
	<!-- public int disableLogin(String userId); -->
	<update id="disableLogin">
		UPDATE f_party
		SET enable = 1
		WHERE user_id = #{userId}
	</update>
	
	<!-- public int sellerToCustomer(String sellerId); -->
	<update id="sellerToCustomer">
		UPDATE f_party
		SET authority = 'customer'
		WHERE user_id = #{sellerId}
	</update>
	
</mapper>
